version: "3"
services:
  reverse-proxy:
    image: nginx:1.17.6-alpine
    ports:
      - 80:80
    volumes:
      - ./nginx_conf.http.d:/etc/nginx/conf.d
  mapisto-front-prod:
    image: mapisto/mapisto-front:latest
  mapisto-front-dev:
    image: mapisto/mapisto-front:dev
  mapisto-api-prod:
    image: mapisto/mapisto-api:latest
    environment: 
      FLASK_DEBUG : 0
      SERVICE_NAME : mapisto-api-prod
    env_file:
      - conf.env
  mapisto-api-dev:
    image: mapisto/mapisto-api:dev
    environment: 
      FLASK_DEBUG : 0
      SERVICE_NAME : mapisto-api-dev
    env_file:
      - conf.dev.env
  database-prod:
    image: postgres:12-alpine
    volumes:
      - $HOME/docker/volumes/postgres_prod:/var/lib/postgresql/data
  database-dev:
    image: postgres:12-alpine
    volumes:
      - $HOME/docker/volumes/postgres_dev:/var/lib/postgresql/data
  apm-server:
    image: docker.elastic.co/apm/apm-server:7.8.0
    depends_on:
      - elasticsearch
      - kibana
    cap_add: ["CHOWN", "DAC_OVERRIDE", "SETGID", "SETUID"]
    cap_drop: ["ALL"]
    command: >
       apm-server -e
         -E apm-server.rum.enabled=true
         -E setup.kibana.host=kibana:5601
         -E setup.template.settings.index.number_of_replicas=0
         -E apm-server.kibana.enabled=true
         -E apm-server.kibana.host=kibana:5601
         -E output.elasticsearch.hosts=["elasticsearch:9200"]
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
    environment:
    - bootstrap.memory_lock=true
    - cluster.name=docker-cluster
    - cluster.routing.allocation.disk.threshold_enabled=false
    - discovery.type=single-node
    - ES_JAVA_OPTS=-XX:UseAVX=2 -Xms1g -Xmx1g
    ulimits:
      memlock:
        hard: -1
        soft: -1
    volumes:
    - $HOME/docker/volumes/elasticsearch_data:/usr/share/elasticsearch/data
  kibana:
    image: docker.elastic.co/kibana/kibana:7.8.0
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200